autom4te.cache
aclocal.m4
depcomp
.deps
.dirstamp
install-sh
missing
compile
config.*
configure
Makefile
Makefile.in
test-driver
*~
*.o
*.trs
.*.sw?
libtool.m4
lt*.m4
ltmain.sh
libtool
*.l[ao]
.libs
*.log
test?
